.text-list-item {
  border: 1px solid #f2f2f2;
  padding: 7px 15px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: var(--shadow);

  .ico-text {
    .shape {
      width: 8px;
      height: 8px;
      background: var(--blue);
      margin-right: 10px;
      border-radius: 50%;
    }
    p {
      font-size: 14px;
      font-weight: 700;
      margin: 0;
    }
  }
}
