.sec-screen-head {
  header {
    .title {
      margin: 0;
      font-size: 14px;
      font-weight: 700;
    }
    .sub-title {
      font-size: 12px;
      font-weight: #555;
      margin: 0;
    }
  }
}
