section#home-screen {
  .app-bar {
    margin-top: 10px;
    .left {
      img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }
      p {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

  .stay-safe {
    font-size: 36px;
    font-weight: 900;
    p {
      margin: 10px 0;
    }
  }

  .icon-btn {
    display: inline-block;
    .shape {
      border-radius: 8px;
      width: 56px;
      height: 56px;
      position: relative;
    }
    p {
      text-align: center;
      font-size: 12px;
      font-weight: 700;
      margin: 3px 0;
    }
    img {
      height: 20px;
    }
  }
}
